<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head') %>
    
    <body>
        
        <%- include('./partials/header') %>
        <br>
        <main>
            <div class="container">
                <h2><%= product.name %></h2>
                <h3><%= product.price %></h3>
                <h4>$<%= product.brand %></h4>
                <p><%= product.description %></p>
                    <br>
                <button class="btn">Añadir al Carrito</button>
                <button class="btn">Comprar</button>

                <a href="/products/<%= product.id %>/edit" class="btn">editar</a>
                <button style="background-color: red;" class="btn">Eliminar</button>
            </div>
        </main>
        <br>
        <hr>
        <br>
        <%- include('./partials/footer') %>

    </body>
</html>