<!DOCTYPE html>
<html lang="en">

    <%- include('../partials/head') %>
    
    <body>
        
        <%- include('../partials/header') %>
        <main>
            <div class="container">
                <section>
                    <header class="section-header">
                        <h2 class="section-title">Productos</h2>
                        <a href="/products">Ver mas</a>
                    </header>
                    <div class="product-container">
                        <div class="products-cards-container">
                            <% for( let i = 0; i < 12; i++ ) { %>
                                <a href="/products/<%= products[i].id %>">
                                    <article class="product-card">
                                            <figure class="product-card-image-container">
                                                <img src="<%= products[i].image %>" alt="Galaxy S21">
                                            </figure>
                                            <section class="product-card-info">
                                                <header>
                                                    <h4 class="product-card-title"><%= products[i].name %></h4>
                                                    <h5>$<%= products[i].price %></h5>
                                                </header>
                                                <form action="/home" method="POST">
                                                    <button class="btn-add-cart">Añadir al carrito</button>
                                                </form>
                                            </section>
                                    </article>
                                </a>
                            <% } %>
                        </div>
                    </div>
                </section>
                <hr>
                <a href="/users">Usuarios</a>
            </div>
        </main>
        <br>
        <hr>
        <br>
        <%- include('../partials/footer') %>

    </body>
</html>